firstName = Some data here
lastName = Some data here
profFirstName = Some data here
profLastName = Some data here
mymail = Some data here
myphone = Some data here
currentJobPosition = Some data here
currentJobPlace = Some data here
techLeadJobPosition = Some data here
techLeadJobPlace = Some data here
juniorJobPosition = Some data here
juniorJobPlace = Some data here
dispatcherDescription = Some data here
