firstName = Some data here
lastName = Some data here

mymail = Some data here
myphone = Some data here

profFirstName = Some data here
profLastName = Some data here

currentJobPosition = Some data here
currentJobPlace = Some data here
techLeadJobPosition = Some data here
techLeadJobPlace = Some data here
juniorJobPosition = Some data here
juniorJobPlace = Some data here

masterTitle = Some data here
universityName = Some data here
bachelorProject = Some data here
bachelorCompany = Some data here

dispatcherDescription = Some data here
