Since last year I have been working in a multi
I am very comfortable in working in a multicultural environment
I have been working with people from different backgroudnds and from different envoronments.
I can find myself in a multi-project envoronment, as I have been managin
I am able to deal with multiple projects at once and consistently deliver results 

I strive for perfection, but I do not forget about the human factor that stands behind every product.
